<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="environmentSettings" type="Qualita.Util.Environments.EnvironmentSettingsSection, Qualita.Util.Environments"/>
	</configSections>

	<environmentSettings useEnvironKey="0">
		<environ key="0" name="Local">
			<add key="WS_URL" value="http://localhost:8080" />
			<add key="PATH_LOGS" value="C:\temp" />
		</environ>

		<environ key="1" file="desenv.config" />
	</environmentSettings>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
	</startup>
</configuration>